/* 
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



.calculator{
    overflow: hidden;
    max-width: 500px;
}

#display{
    width: 100%;
    font-size: 5rem;
    color: black;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.operator_btn{
background-color: orange;
} */